@import "./nav.scss";
@import "./terminal.scss";
@import "./screen.scss";
@import "./buttons.scss";
@import "./loading.scss";

body {
  background-color: whiteSmoke;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 110%;
  height: 100%;
}

#wrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

#main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1 1 auto;

  display: flex;
  flex-flow: column;
  padding: 30px 0px;
}

h1 {
  margin-top: 0px;
  color: $gray;
  text-align: center;
}

// a:hover {
//   cursor: pointer;
// }

.locked {
  opacity: 0.5;
}

.locked:hover {
  cursor: default;
}

i {
  text-align: center;
}
