
$gray: #333;
$black: #111;

nav {
  width: 100%;
  flex: 0 1 auto;
  background-color: $gray;

  ul {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    padding-right: 1%;
    padding-left: 1%;
    list-style-type: none;
  }

  img {
    width: 35px;
    padding: 5px 16px;
  }

  li {
    float: right;

    a {
      display: block;
      color: whiteSmoke;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    a:hover {
      color: white;
      background-color: $black;
    }

    .activeLink {
      background-color: $black;
    }
  }
}
