$blue: #81b1a6;
$orange: #DF744A;

#terminal {
  display: inline-block;
  overflow: scroll;
  font-size: 90%;

  p {
    padding: 0px;
    // margin: 0px;
    margin-top: 0.5em;
    margin-left: 1em;
  }

  .command {
    margin-top: 1em;
    margin-left: 0.3em;
    color: darken($blue, 18%);
  }

  .err {
    color: darken($orange, 10%);
  }
}
